################################################################################
#                                                                              #
#   Configuration file to be used with run_roms.                               #
#   Should contain various variables and may contain commands to copy or move  #
#   files etc.                                                                 #
#                                                                              #
#   This file is run by run_roms using the source command and must therefore   #
#   be a valid bash script and adhere to bash syntax.                          #
#                                                                              #
#   Two variables are supplied by the calling script:                          #
#   script_dir: The directory that contains the calling script.                #
#   config_dir: The directory that contains the configuration file             #
#               (this file).                                                   #
#                                                                              #
################################################################################

##############################################################################
#  directories and file names
##############################################################################

# the main directory to run ROMS in
main_dir="$config_dir"

# name of the log file
logfile="$main_dir/roms.log"

# the directory for ROMS output files (relative to config_dir)
output_dir_relative="Output"

# the base name of ROMS output files (%s will be replaced by "his", "avg" etc.)
outputfile_mask="wc12_%s.nc"

# specify to use local storage (storage only accessible by job's node; 
# leave empty to not use local storage)
output_local_basedir=

##############################################################################
#  ROMS input/output files, executable and parameter changes
##############################################################################

# the ROMS executable
executable=${HOME}/roms/mybuilds/ifort/openmpi/fast/roms_898_darwin_darwin_6p4z_noread2/oceanM

# the ROMS ocean in-file
ocean_in=${HOME}/roms/data/infiles/ocean_nemuro_820_tsunami_ccsrt.in

# the ROMS bio in-file
bio_in=${HOME}/roms/data/infiles/darwin_6p4z_mcla.in

# dt is used locally here, it is not required to be set for run_roms.
dt=600

# parameter changes to the ROMS ocean.in (file is copied, original file is left unchanged)
paramchanges_ocean=(
# The parameter names and values below are example values only. 
# Any ROMS ocean.in parameter can be changed, no parameter is required to be changed.
DT=$dt
ININAME="${HOME}/roms/ini/ocean_ini_38716.nc"
BRYNAME="${HOME}/roms/bry/ocean_bry.nc"
VARNAME="${HOME}/roms/varinfos/varinfo.dat"
GRDNAME="${HOME}/roms/grd/ocean_grd.nc"
DSTART=38716
NtileI=4
NtileJ=10
NAVG=$((86400/dt)) # daily averages using bash arithmetic
)

paramchanges_bio=(
)

# set to true if VERIFICATION is turned on in ROMS executable
use_verification=false

# the DA-in and observation file (used when use_verification is set to true)
da_in=${HOME}/roms/data/infiles/s4dvar.in
obsfile=${HOME}/obs/twin_experiments/nc/obs_synthetic_20170504_nemucsc_twex2006_gendata_lmd_shapiro_riavg_nemuro_chl_splitphy_nemuro.nc


##############################################################################
#  ROMS starting options 
##############################################################################

# roms_startmode determined the way ROMS is started
# The following values are supported:
# "auto":   Determine automtically based on configuration and the presence 
#           of "sbatch" command. 
# "sbatch": Use Slurm's sbatch command to submit job. 
# "srun":   Use Slurm's srun command to submit job. 
# "srun-bg": Just like "srun" but start srun job in background. 
# "mpirun-machines": Use mpirun to start ROMS and specify machines via
#           machines variable below or run_roms' -m option.
# "mpirun-idlemachines": Use mpirun to start ROMS and specify machines using 
#           idlemachines command.
# "mpirun": Use mpirun to start ROMS and specify machines via machinefile.
roms_startmode=auto

# a file containing the host machines (used for mpirun-machines, mpirun and
# mpirun-idlemachines)
machinefile="${HOME}/allmachines"

# the machine(s) to run executable on (optional, depending on roms_startmode)
machines=

# a template file for sbatch job submission 
# (used for roms_startmode sbatch)
sbatchtemplate="$script_dir"/templates/sbatch_job.template

# the name of the Slurm job submitted via sbatch (optional)
sbatchname=

# Further arguments to be passed to sbatch.
# Example: To redirect the batch script's standard error to the file 
# "sbatch_error.txt" use:
#    sbatch_args="--error=sbatch_error.txt"
# To set the number of tasks to be run on each node (overriding
# setting in sbatch_templatefile) use:
#    sbatch_args="--ntasks-per-node=20"
# Multiple arguments can be combined:
#    sbatch_args="--error=sbatch_error.txt --ntasks-per-node=10" 
# Leave empty to specify no additional arguments to sbatch. Do not use the
# arguments --job-name, --export, --ntasks or --output, as these will be 
# supplied by run_roms_da.
sbatch_args=

# Slurm epilog commands that will be added to a slurm epilog file.
# In the command <outdir> will be replaced with the the directory for ROMS 
# output files and <node> will be replaced by the node the job is run on 
# (for runs using local storage).
epilog_commands=

